name: Deploy MyST to GitHub Pages

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  SITE_PREFIX: /${{ github.event.repository.name }}
  BASE_URL: "/${{ github.event.repository.name }}"

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    uses: pollomarzo/scholar-nexus-paper-config/.github/workflows/deploy-paper.yml@main
